/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #fdf6e3;
  --global-code-bg-color: #eee8d5;
  --global-text-color: #657b83;
  --global-text-color-light: #586e75;
  --global-theme-color: #268bd2;
  --global-hover-color: #268bd2;
  --global-hover-text-color: #ffffff;
  --global-footer-bg-color: #839496;
  --global-footer-text-color: #657b83;
  --global-footer-link-color: #268bd2;
  --global-distill-app-color: #93a1a1;
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #ffffff;
  --global-highlight-color: #dc322f;
  --global-back-to-top-bg-color: rgba(0, 0, 0, 0.4);
  --global-back-to-top-text-color: #ffffff;
  --global-newsletter-bg-color: #ffffff;
  --global-newsletter-text-color: #657b83;

  --global-tip-block: #2aa198;
  --global-tip-block-bg: #e3f6f5;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #269989;
  --global-warning-block: #b58900;
  --global-warning-block-bg: #fef4d9;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b58900;
  --global-danger-block: #dc322f;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark,
  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --global-bg-color: #292d3e;
  --global-code-bg-color: #1e1e2e;
  --global-text-color: #a6accd;
  --global-text-color-light: #676e95;
  --global-theme-color: #c792ea;
  --global-hover-color: #c792ea;
  --global-hover-text-color: #ffffff;
  --global-footer-bg-color: #1e1e2e;
  --global-footer-text-color: #a6accd;
  --global-footer-link-color: #c792ea;
  --global-distill-app-color: #a6accd;
  --global-divider-color: #44475a;
  --global-card-bg-color: #1e1e2e;
  --global-back-to-top-bg-color: rgba(255, 255, 255, 0.5);
  --global-back-to-top-text-color: #000000;
  --global-newsletter-bg-color: #1e1e2e;
  --global-newsletter-text-color: #a6accd;

  --global-tip-block: #89ddff;
  --global-tip-block-bg: #2c3a52;
  --global-tip-block-text: #b2ccd6;
  --global-tip-block-title: #82aaff;
  --global-warning-block: #ffcb6b;
  --global-warning-block-bg: #3e3d3d;
  --global-warning-block-text: #ffc777;
  --global-warning-block-title: #ffcb6b;
  --global-danger-block: #f07178;
  --global-danger-block-bg: #3e2c3c;
  --global-danger-block-text: #f07178;
  --global-danger-block-title: #f07178;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
